/* REMOVE DEFAULT PAGE GAP */

body{
margin:0;
padding:0;
}


/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:14px 30px;
background:#020617;
border-bottom:1px solid #1e293b;
color:white;
}


/* COMPANY NAME */

.logo{
font-size:18px;
font-weight:bold;
letter-spacing:1px;
cursor: pointer;
}

.logo-red{
color:#ef4444;
font-size:20px;
margin-right:2px;
}


/* NAV BUTTONS */

.nav-buttons{
display:flex;
gap:12px;
}

.nav-buttons button{
background:#1e293b;
border:none;
padding:8px 14px;
border-radius:6px;
cursor:pointer;
color:white;
font-size:14px;
}

.nav-buttons button:hover{
background:#2563eb;
}


/* MOBILE */

@media(max-width:768px){

.navbar{
flex-direction:column;
gap:10px;
}

.nav-buttons{
flex-wrap:wrap;
justify-content:center;
}

}